---
AlignAfterOpenBracket: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: AllDefinitions
BasedOnStyle: llvm
BreakBeforeBraces: Linux
ColumnLimit: 80
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentWidth: 8
ReflowComments: true
SortIncludes: true
SpaceAfterCStyleCast: true
UseTab: ForContinuationAndIndentation
---
