[submodule "tpm"]
	path = tmux/.local/share/tmux/plugins/tpm
	url = https://github.com/gpanders/tpm
	branch = master
[submodule "minpac"]
	path = vim/.vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac
	branch = master
