[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/gpanders/prezto.git
	branch = master
[submodule "st"]
	path = st
	url = git://git.suckless.org/st
	branch = master
