snippet def
	def ${1:func}(${2:args}):
	    $0
snippet ifmain
	def main():
	    $0
	

	if __name__ == "__main__":
	    main()
snippet bp
	breakpoint()
snippet print
	print(f"$0")
snippet argparse
	import argparse

	parser = argparse.ArgumentParser()
	parser.add_argument($0)

	args = parser.parse_args()
