bind  index,pager g noop
bind  index,query gg first-entry
bind  index,query G last-entry

# Navigate like vim
bind  index,pager,query \Cu previous-page
bind  index,pager,query \Cd next-page
bind  index j next-entry
bind  index k previous-entry
bind  pager j next-line
bind  pager k previous-line
macro pager gg <top><refresh>
macro pager G <bottom><refresh>

macro  index,pager g! <change-folder>!<enter>
macro  index,pager g< <change-folder>\<<enter>
macro  index,pager g> <change-folder>\><enter>

# Shift+Tab moves backwards through unread
bind index <esc><tab> noop
bind index <backtab> previous-new-then-unread

bind index,pager r group-reply
bind index,pager R reply

# Deleting a message should also clear the 'new' flag
macro index d "<enter-command>set my_resolve=\$resolve noresolve<enter><clear-flag>N<enter-command>set resolve=\$my_resolve &my_resolve<enter><delete-message>" "delete the current entry"

# For some reason the screen gets borked after closing a message and requires
# a redraw
macro pager q <exit><refresh>

# View urls within a message or attachment
macro index,pager \Cb \
"<enter-command>set my_wait_key=\$wait_key my_pipe_decode=\$pipe_decode nowait_key pipe_decode<enter>\
<pipe-message>~/.local/share/tmux/scripts/fzfurl.sh<enter>\
<enter-command>set wait_key=\$my_wait_key pipe_decode=\$my_pipe_decode &my_wait_key &my_pipe_decode<enter>" \
    "extract URLs from message"
macro attach,compose \Cb \
"<enter-command>set my_wait_key=\$wait_key my_pipe_decode=\$pipe_decode nowait_key pipe_decode<enter>\
<pipe-entry>~/.local/share/tmux/scripts/fzfurl.sh<enter>\
<enter-command>set wait_key=\$my_wait_key pipe_decode=\$my_pipe_decode &my_wait_key &my_pipe_decode<enter>" \
    "extract URLs from attachment"

# Search with notmuch-mutt
macro index \Cs \
"<enter-command>set my_wait_key=\$wait_key nowait_key<enter>\
<shell-escape>notmuch-mutt -r --prompt search<enter>\
<enter-command>unhook folder-hook<enter>\
<change-folder-readonly>`echo ${XDG_CACHE_HOME:-$HOME/.cache}/notmuch/mutt/results`<enter>\
<enter-command>source ~/.config/mutt/hooks.rc<enter>\
<enter-command>set wait_key=\$my_wait_key &my_wait_key<enter>" \
    "search mail with notmuch"

# Use notmuch-mutt to reconstruct thread
macro index \C] \
"<enter-command>set my_wait_key=\$wait_key nowait_key<enter>\
<pipe-message>notmuch-mutt -r thread<enter>\
<enter-command>unhook folder-hook<enter>\
<change-folder-readonly>`echo ${XDG_CACHE_HOME:-$HOME/.cache}/notmuch/mutt/results`<enter>\
<enter-command>source ~/.config/mutt/hooks.rc<enter>\
<enter-command>set wait_key=\$my_wait_key &my_wait_key<enter>" \
    "reconstruct thread with notmuch"

# Move messages to the $mbox folder
macro index,pager A "<enter-command>set my_resolve=\$resolve noresolve<enter><clear-flag>N<enter-command>set resolve=\$my_resolve &my_resolve<enter><save-message>\><enter><sync-mailbox><refresh>" "archive message"

# Open message with viewhtmlmsg
macro index,pager H \
"<enter-command>set my_wait_key=\$wait_key my_pipe_decode=\$pipe_decode nowait_key nopipe_decode<enter>\
<pipe-message>viewhtmlmsg -s<enter>\
<enter-command>set wait_key=\$my_wait_key pipe_decode=\$my_pipe_decode &my_pipe_decode &my_wait_key<enter>" \
    "view HTML in browser"

# Fetch mail
macro index <F5> "<enter-command>set my_wait_key=\$wait_key nowait_key<enter><shell-escape>mbsync -a<enter><enter-command>set wait_key=\$my_wait_key &my_wait_key<enter>" "synchronize mailbox"

# Switch between accounts
macro index,pager <esc>1 "<sync-mailbox><enter-command>source ~/.config/mutt/personal.rc<enter><change-folder>!<enter>"
