folder-hook . 'source ~/.config/mutt/default.rc'

# Create folder hook for each account
folder-hook personal 'source ~/.config/mutt/personal.rc'

# The MUTT_EDITOR variable can be used in the mailcap file to change how MIME
# messages are decoded in replies
send-hook ~A 'setenv MUTT_EDITOR yes'
send2-hook ~A 'unsetenv MUTT_EDITOR
