subscribe @lists\\.
subscribe @googlegroups\\.com
subscribe ^[A-Za-z0-9._-]+-users@
subscribe ^[A-Za-z0-9._-]+-discuss@
subscribe ^[A-Za-z0-9._-]+-devel@
subscribe ^hackers@suckless\\.org$
subscribe ^kernelnewbies@kernelnewbies\\.org$
subscribe ^notmuch@notmuchmail\\.org$
