source ~/.config/mutt/default.rc

set my_account = gmail
set my_prev_account = gpanders
set my_next_account = gpanders
set folder = ~/.mail/gmail
set mbox_type = Maildir

set from = "greg.p.anders@gmail.com"
set spoolfile = +Inbox
set postponed = +Drafts
unset record  # Gmail does this by default
set mbox = +Archive
set trash = +Trash

set query_command = "khard email --parsable --search-in-source-files '%s'"

set smtp_url = "smtp://greg.p.anders@gmail.com@smtp.gmail.com:587"
set smtp_pass = `pass apps/gmail.com/mutt`
set smtp_authenticators = "login"

mailboxes +Inbox
mailboxes +Archive
mailboxes +Sent
mailboxes +Drafts
mailboxes +Trash

# In Gmail, messages are already in the Archive ("All Mail") folder so moving
# them there just creates a duplicate.  So instead, delete the message from the
# Inbox, but unset `trash` first so it's not copied to the trash folder
macro index,pager A "<enter-command>set my_trash=\$trash<enter><enter-command>unset trash<enter><delete-message><sync-mailbox><enter-command>set trash=\$my_trash<enter><refresh>" "archive message"

# Fetch mail
macro index <F5> "<enter-command>set my_wait_key=\$wait_key<enter><enter-command>unset wait_key<enter><shell-escape>mbsync gmail<enter><enter-command>set wait_key=\$my_wait_key<enter>" "synchronize mailbox"

# vim: ft=neomuttrc
