set virtual_spoolfile = yes
set vfolder_format = "  %f %?n?%4n new?"

set nm_default_uri = notmuch://`notmuch config get database.path`
set nm_record = yes
set nm_record_tags = "-inbox,-unread,+archive,+sent"
set nm_unread_tag = "unread"

virtual-mailboxes "Inbox"   "notmuch://?query=folder:INBOX"
virtual-mailboxes "Archive" "notmuch://?query=folder:Archive"
virtual-mailboxes "Sent"    "notmuch://?query=folder:Sent"
virtual-mailboxes "Trash"   "notmuch://?query=folder:Trash"

# Bindings for using notmuch virtual folders
macro index,pager c   <change-vfolder>? "change virtual folder"
bind  index,pager Y   modify-labels
bind  index,pager S   vfolder-from-query
macro index,pager d   '<modify-labels>-inbox -archive +trash<enter><delete-message><sync-mailbox>' "delete the current entry"

# Hooks for notmuch virtual folders
folder-hook "INBOX"    'macro index,pager A "<modify-labels>-inbox +archive<enter><save-message>\><enter><sync-mailbox>" "archive message"'
folder-hook "Archive"  'macro index,pager A "<modify-labels>+inbox -archive<enter><save-message>!<enter><sync-mailbox>" "unarchive message"'

# vim: ft=neomuttrc
